@charset "utf-8";

/* generic parts */
h1 {
font-size:200%;
}

#content h2 {
font-size:130%;
}

#outline h2,
h3 {
font-size:120%;
}

h4 {
font-size:100%;
}

/* #outline */
#outline dl dt {
margin-left:8px;
padding-left:16px;
}

#outline dl dd {
margin-left:24px;
}

/* #content */
#content p,
#content table {
margin-left:12px;
}

#content table tr th {
border-color:#999;
text-align:center;
}

#content table tr td {
border-color:#999;
}

#content table tr th {
background:#ccc;
}

#content table tr.even td {
background:#eee;
}

#content fieldset div {
height:30px;
}


/* --CUSTOM-- */

#wrapper {
margin-left:30px;
width:780px;
}

label {
display:block;
}

#footer {
margin:20px 0;
}

#inputForm {
background:#fff;
border:2px solid #999;
display:none;
padding:1em;
position:fixed;
opacity:0.9;
left:50%;
top:50%;
text-align:left;
}

#inputForm div {
margin-bottom:.5em;
}

#loginForm div {
margin-bottom:.5em;
}