@charset "utf-8";

/* generic parts */
h1 {
background:url(../img/logo.png) -50px -50px no-repeat;
font-size:100%;
height:70px;
}

h2 {
border-bottom:1px solid #999;
font-size:130%;
}

#outline h2,
h3 {
font-size:120%;
}

h4 {
font-size:100%;
}

/* #outline */
#outline dl dt {
margin-left:8px;
padding-left:16px;
}

#outline dl dd {
margin-left:24px;
}

/* #content */
/*#content p,
#content table {
margin-left:12px;
}*/

#content table tr th {
border-color:#999;
text-align:center;
}

#content table tr td {
border-color:#999;
}

#content table tr th {
background:#ccc;
}

#content table tr.even td {
background:#eee;
}

#content fieldset div {
height:30px;
}


/* --CUSTOM-- */

#wrapper {
margin:20px 30px 0 30px;
width:auto;
}

label {
font-weight:bold;
display:block;
}

#footer {
border-top:1px solid #999;
clear:both;
margin:20px 0;
padding-top:5px;
}

#inputForm {
display:none;
text-align:left;
}

#inputForm div {
margin-bottom:1em;
}

#loginForm {
background:url('../img/login.gif');
padding:.5em .5em;
width:22em;
}

#loginForm div {
margin:.5em;
}

.main-menu {
float:left;
margin-bottom:.5em;
width:260px;
}

#local-menu {
float:right;
text-align:right;
}

#local-menu a {
margin-left:1em;
}

.message {
color:#f00;
margin-bottom:1em;
}

.ime {
ime-mode:disabled;
}

#results {
clear:both;
}

.dataTable tr.odd td {
background:#eee;
}